.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 0.2rem;
  display: inline-block;
  opacity: 1;
  font-weight: 700;
  color: #06b6d4;
}

.text-type__cursor--hidden {
  display: none;
}
